@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /***index.html***/
    .body {
        @apply text-slate-900 dark:text-slate-100;
    }

    /***Views UI***/
    .view-layout {
        @apply flex justify-center items-center h-screen mx-auto;
    }

    /**HomeView UI**/
    .home-view-layout {
        @apply w-1/2 flex justify-center items-center mx-auto h-screen text-slate-100;
    }

    /***Components UI***/
    /**Windows Navbar**/
    .navbar {
        @apply fixed bottom-0 bg-[#FFFFFF10] dark:bg-[#00000090] backdrop-blur-xl w-full text-2xl;  
    }

    /*Windows (apps / files) heading bar layout*/
    .app-header {
        @apply grid grid-cols-2 rounded-t-md;
    }

    /*Window heading bar color(s)*/
    .app-header-style {
        @apply bg-white dark:bg-black border-b border-neutral-300 dark:border-neutral-700;
    }

    /*Pokedex container*/
    .pokedex-ui {
        @apply bg-[#FFFFFF50] dark:bg-[#00000090] backdrop-blur-xl rounded-md;
    }

    /*Folder container*/
    .folder-ui {
        @apply bg-white dark:bg-neutral-800 rounded-md;
    }

    /*Dialog (notes) container*/
    .dialog-ui {
        @apply p-0 bg-white text-slate-800 dark:bg-neutral-800 dark:text-slate-100 backdrop:bg-transparent rounded-md w-4/12;
    }

    /***Icons UI***/
    /**home app**/
    .windows-home {
        @apply bg-clip-text text-transparent bg-gradient-to-br from-sky-200 to-sky-400;
    }

    /**global gradients style**/
    .bg-clip-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r;
    }

    /*fa-file icon*/
    .file-gradient {
        @apply from-neutral-300 to-gray-400 dark:from-slate-300 dark:to-gray-300;
    }

    /*fa-file-image icon*/
    .image-gradient {
        @apply from-sky-400 to-blue-500;
    }

    /*fa-folder icon*/
    .folder-gradient {
        @apply from-amber-200 to-amber-400;
    }

    /*fa-wifi icon*/
    .wifi-gradient {
        @apply from-slate-700 to-slate-900 dark:from-slate-100 dark:to-slate-300;
    }

    /*fa-tablet (used to illustrate pokedex app)*/
    .pokedex-gradient {
        @apply from-red-300 to-red-500;
    }

    /**global hover effects**/
    .home-single-folder {
        @apply p-2 text-center border border-transparent hover:border hover:border-slate-400 hover:bg-[#6B728060] hover:border-opacity-50;
    }

    .home-hover-effects {
        @apply hover:scale-125 hover:transition-all duration-150;
    }

    .folder-files-hover {
        @apply hover:bg-[#cfeaffC0] dark:hover:bg-[#FFFFFF30];
    }

    .wifi-hover {
        @apply hover:bg-[#FFFFFF20] hover:transition-all duration-150;
    }
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@media (prefers-color-scheme: light) {
    body {
        background-image: url('/src/assets/media/light-min.png');
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('/src/assets/media/dark-min.png');
    }
}